<div class="container">
    <div class="page-header">
        <h1 id="timeline">Your Entries</h1>
    </div>
    <ul class="timeline">
    	<% x = 1 %>
    	<% @comments.each do |comment| %>
	    	<% if x%2 != 0 %>
		        <li>
		          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
		          <div class="timeline-panel">
		            <div class="timeline-heading">
		              <h4 class="timeline-title"><%= comment.created_at.to_s(:short) %></h4>
<!-- 		              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p> -->
		            </div>
		            <div class="timeline-body">
		              <p><%= comment.body %></p>
		            </div>
		          </div>
		        </li>
		        <% x += 1 %>
	        <% else %>
		        <li class="timeline-inverted">
		          <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
		          <div class="timeline-panel">
		            <div class="timeline-heading">
		              <h4 class="timeline-title"><%= comment.created_at.to_s(:short) %></h4>
		            </div>
		            <div class="timeline-body">
		              <p><%= comment.body %></p>
		            </div>
		          </div>
		        </li>
		        <% x += 1 %>
	        <% end %>
    	<% end %>
    </ul>
</div>